@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


:root {
  --my-display: var(--my-display);
  --my-lato: var(--my-lato);
  
  --my-green: #339780;
  --my-yellow: #FFC728;
}

body {
  font-family: var(--my-lato), sans-serif;
  color: var(--my-green);
  background-color: #ffffff;
}



button {
  font-family: var(--my-lato), sans-serif;
}